/* Establish defaults, fonts, colours etc. */

body {
    margin:0;
    background-color: #322c2b;
    text-align: center;
    color:#ffffff;
    margin: 0;
    font-weight: 200;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

#hero{
    width: 100%;
    height:1050px;
    background:linear-gradient(0deg, rgba(37, 29, 29, 0.66), rgba(37, 29, 29, 0.44)), url('./Images/coffee_bar.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: top 30px; */
}


/* Establish logo position and size (Change based on logo default size) */
.logo {
    max-width: 200px;
    max-height: 100px;
    cursor: pointer;
    display:flex;
    flex-direction: row-reverse;
    display:inline;
    vertical-align:middle;
}

/* Set Lists and Anchors to correct size, colour and remove decoration. Gives animation to text */
    li, a {
    font-weight: 500;
    font-size: 30px;
    /* color: #121619; */
    color: #ffffff;
    text-decoration: none;
    transition-duration: 0.5s;
   
}

/* Set color change on hover of all links */
     a:hover {
        color:#E4C59E;
        border-bottom: 2px solid #E4C59E;
        padding-bottom: 10px;
    }

/* Give 'header bar' section flex, spacing, alignment, padding and colour */
header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* background-color: #803D3B; */
    /* background:transparent; */
    /* transition-duration: 0.5s; */
    letter-spacing: 0.5px;
    background:linear-gradient(0deg, rgba(37, 29, 29, 0.44), rgba(37, 29, 29, 0.44));
    }

    /* remove bullet points from links */
.links{
    list-style: none;
}

/* Keep lists within link section, inline with padding. */
.links li {
    display: inline-block;
    padding: 0px 20px;
}

/* Gives links colour transition. */
.links li a {
    transition: all 0.3s ease 0s;
}

/* establishes link colour change on hover */
.links li a:hover{
    color: #E4C59E;
}

/* The primary style for the entire Hero Box. */
.hero-box {
    width: 50%;
    margin-top: 120px; 
    /* background-color: #322c2b; */
    display: inline-block;
    background:linear-gradient(0deg, rgba(37, 29, 29, 0.44), rgba(37, 29, 29, 0.44));
    border-radius:20px;

}

/* Specific styling and sizing for the header text within the hero box. */
.hero-box .hero-heading {
    font-size: 50px;
    margin-bottom: 20px;
    color: #ffffff;
    line-height: 60px;
    text-align: center;
}

/* Specific styling and sizing of primary body text */
.hero-box .hero-desc {
    font-size: 19px;
    margin-bottom: 40px;
    color: #ffffff;
    line-height: 30px;
    padding: 0 30px 0;
}

/* The styling for the div that contains the buttons */
.hero-box .btn-box {
    margin: 60px;
}

/* Styling for the Call to Action buttons */
.hero-box .cta-btn{
    background: #322c2b;
    margin-right: 30px;
    padding: 15px 40px;
    border-radius: 50px;
}

.hero-box .cta-btn{
    background: #322c2b;
    margin-right: 30px;
    margin-top: 30px;
    padding: 15px 40px;
    border-radius: 50px;
    display:inline-flex;
}

.hero-box .cta-btn:hover{
    /* background: #E4C59E; */
    background: rgba(228, 197, 158, 0.8);
    color: #322c2b;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

/* Gives hero image padding to top and bottom. */
.images{
    padding: 50px;
}

/* What We Teach image alignments */
.WWSImages {
    justify-content: space-around;
    display:flex;
    padding: 30px;
    text-align: center;
    align-items: center;
}

.WWSImages img {
    max-width: 500px;
}

/* What We Teach image alignments */
.foodgallery {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    padding: 30px;
    text-align: center;
    margin-bottom: 100px;
}

.foodgallery img {
    max-width: 500px;
    border: #af8260 solid 5px;
}

.form {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px
}

.form input, .form textarea {
    width: 300px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;;
}

.hero-box-contact {
    width: 50%;
    margin-top: 2%; 
    /* background-color: #322c2b; */
    display: inline-block;
    background:linear-gradient(0deg, rgba(37, 29, 29, 0.44), rgba(37, 29, 29, 0.44));
    margin-bottom: 120px;
    border-radius: 20px;
}

.hero-box-times {
    width: 45%;
    margin-top: 50px; 
    /* background-color: #322c2b; */
    display: inline-block;
    background:linear-gradient(0deg, rgba(37, 29, 29, 0.44), rgba(37, 29, 29, 0.44));
    border-radius:20px;
}

.hero-box-times{
    margin-bottom:200px;
}

.hero-box-times .timetable{
    margin: 60px 60px 10px 70px;
    color: #ffffff;
}


/* Specific styling and sizing for the header text within the hero box on the contacts page. */
.hero-box-contact .hero-heading {
    font-size: 50px;
    margin-bottom: 20px;
    color: #ffffff;
    line-height: 60px;
    text-align: center;
}

/* Specific styling and sizing of primary body text  on the contacts page*/
.hero-box-contact .hero-desc {
    font-size: 19px;
    margin-bottom: 40px;
    color: #ffffff;
    line-height: 30px;
    padding: 0 30px 0;
}

.hero-map {
    width: 50%;
    margin-top: 2%; 
    /* background-color: #322c2b; */
    display: inline-block;
    background:linear-gradient(0deg, rgba(37, 29, 29, 0.44), rgba(37, 29, 29, 0.44));
    padding-bottom: 2%;
    margin-bottom: 120px;
    border-radius: 20px;
}

.hero-map img{
    width: 86%;
    padding: 20px;}

/* 6 blocks below establish two quote sizing and spacing. */

.quotepair{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px
}
.quotepair .quote1{
    display:flex;
    align-items: center;
    padding: 20px;
    
}

.quotepair .quote1 q{
padding-left:30px;
}

.quotepair .quote1 img{
    width:300px;
    
}

.quotepair .quote2{
    display:flex;
    align-items: center;
    padding: 20px;
    flex-direction: row-reverse;
}

.quotepair .quote2 q{
    padding-right:30px;
}

.quotepair .quote2 img{
    width:300px;
    padding-bottom: 150px;
    padding-top: 120px;
}

.quote-box {
    width: 50%;
    margin-top: 2%; 
    /* background-color: #322c2b; */
    display: inline-block;
    background:linear-gradient(0deg, rgba(37, 29, 29, 0.44), rgba(37, 29, 29, 0.44));
    margin-bottom: 120px;
    padding-top: 70px;
    border-radius: 20px;
    margin-top:300px
}


/* Footer bar flex, spaceing, alignment and colour. */
footer {
    display:flex;
    justify-content: center;
    align-items: center;
    /* padding: 10%; */
    /* background-color:  #803D3B; */
    background:linear-gradient(0deg, rgba(37, 29, 29, 0.44), rgba(37, 29, 29, 0.44));
    position: fixed;
    left:0;
    bottom:0;
    height: 100px;
    width:100%;
    }
       

/* Mobile Stylings */

    @media (max-width: 1234px) {
        #hero{
            height: 1000px;
        }
        .hero-box {
            width: 90%;
        }

        .hero-box .hero-heading {
            font-size: 30px;
            line-height: 40px;
        }

        .hero-box .hero-desc {
            font-size: 23px;
            line-height: 25px;
            padding: 0 10px 0;
        }

        .hero-box .btn-box {
            margin: 20px;
        }

        .hero-box .cta-btn{
            margin-right: 10px;
            padding: 10px 20px;
            font-size: 40px;
        }

        .WWSImages {
            flex-direction: column;
            padding: 10px;
        }

        .WWSImages img {
            max-width: 300px;
            padding-bottom: 20px;
        }

        .foodgallery {
            padding: 20px;
        }

        .foodgallery img {
            max-width: 300px;
            padding-bottom: 20px;
        }

        footer {
            flex-direction: column;
            height: auto;
            padding: 20px;
            margin-top: 10%;
            /* font-size: 10px; */
        }

        footer a {
            font-size:20px;
        }

        header a{
            font-size: 15px;
        }


.hero-box-contact {
    width: 50%;
    margin-top: 2%; 
    margin-bottom: 120px;
    
}
/* Specific styling and sizing for the header text within the hero box on the contacts page. */
.hero-box-contact .hero-heading {
    font-size: 20px;
    margin-bottom: 20px;
    color: #ffffff;
    line-height: 60px;
    text-align: center;
}

/* Specific styling and sizing of primary body text  on the contacts page*/
.hero-box-contact .hero-desc {
    font-size: 19px;
    margin-bottom: 40px;
    color: #ffffff;
    line-height: 23px;
    padding: 0 30px 0;
}

.hero-box-times {
    width: 45%;
    margin-top: 5%; 
    /* background-color: #322c2b; */
    display: inline-block;
    background:linear-gradient(0deg, rgba(37, 29, 29, 0.44), rgba(37, 29, 29, 0.44));
}

.eventlist li{
    font-size: 18px;
}

.quote-box{
    width: 50%;
    margin-top: 2%; 
    margin-bottom: 120px;
    padding-top: 70px;
    border-radius: 20px
}
    .quotepair {
         padding: 20px;
}

    .quotepair img {
        max-width: 200px;
        padding-bottom: 20px;
}

}

 /* Small Screen Stylings */

    @media (max-width: 800px) {
        #hero{
            height: 1000px;
        }
        .hero-box {
            width: 80%;
        }

        .hero-box .hero-heading {
            font-size: 50px;
            line-height: 40px;
        }

        .hero-box .hero-desc {
            font-size: 20px;
            line-height: 25px;
            padding: 0 10px 0;
        }

        .hero-box .btn-box {
            margin: 20px;
        }

        .hero-box .cta-btn{
            margin-right: 10px;
            padding: 10px 20px;
            font-size: 27px;
        }
        
        .WWSImages {
            flex-direction: column;
            padding: 10px;
        }

        .WWSImages img {
            max-width: 300px;
            padding-bottom: 20px;
        }

        .foodgallery {
            padding: 20px;
        }

        .foodgallery img {
            max-width: 300px;
            padding-bottom: 20px;
        }

        footer {
            flex-direction: column;
            height: auto;
            padding: 20px;
            margin-top: 10%;
        }

         footer a {
        font-size: 15px;        
        }
    
        header a{
            font-size: 10px;
        }

        .eventlist li{
    font-size: 13px;
}

.quote-box{
    width: 80%;
    margin-top: 2%; 
    margin-bottom: 120px;
    padding-top: 70px;
    border-radius: 20px
}
    .quotepair {
         padding: 20px;
}

    .quotepair img {
        max-width: 200px;
        padding-bottom: 20px;
}

.hero-box-contact {
    width: 50%;
    margin-top: 2%; 
    margin-bottom: 120px;
    
}
/* Specific styling and sizing for the header text within the hero box on the contacts page. */
.hero-box-contact .hero-heading {
    font-size: 18px;
    margin-bottom: 20px;
    color: #ffffff;
    line-height: 60px;
    text-align: center;
}

/* Specific styling and sizing of primary body text  on the contacts page*/
.hero-box-contact .hero-desc {
    font-size: 10px;
    margin-bottom: 40px;
    color: #ffffff;
    line-height: 30px;
    padding: 0 30px 0;
}
    }




